body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header.site-header {
    background-color: #f4f4f4;
    border-bottom: 2px solid #000000;
    padding: 0 4rem;
}

.header-inner {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 5rem;
}

.name-section h1 {
    font-size: 1.75rem;
    margin: 0; 

}

nav.nav-section ul { 
    display: flex; 
    gap: 1rem;
    list-style: none; 
    
}
nav.nav-section a { 
    text-decoration: none; 
    color: #000; 
    padding: .25rem .5rem; }