
body {
    font-family: Arial, sans-serif;
    color: #2a2a2a;
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

main h2 {
    text-decoration: underline;
}


.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
}

.nav-section ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
}
.nav-section a {
    color: #f5f5f5;
    text-decoration: none;
}
.nav-section a:hover {
    text-decoration: underline;
}

.about-me h2 {
    margin-bottom: 0.5rem;
}

.container-about-me {
    display: flex;
    gap: 4rem;
    width: 100%;
    justify-content: space-between;
}

.about-me-text {
    flex: 1;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-image {
    width: 250px;
    height: 250px;
    background-color: #ccc;
    align-items: center;
    font-size: 0.875rem;
    color: #666;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
}

.projects ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
}

.projects ul li {
    border: 1px solid #2a2a2a;
    border-width: 3px;
    padding: 1rem;
    width: 200px;
}

.skills ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: start;
    padding: 0;
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}
 
.contact-details p {
    margin: 1rem 0;
}

.contact-info h2 {
    margin-bottom: 0rem;
}

.contact-info a {
    color: #d1d1d1;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}


header,
footer {
    background-color: #1e1e1e;
    color: #f5f5f5;
}

main {
    flex: 1;
    background-color: #f4efe9;
    padding: 2rem 5rem;
}

footer {
    font-size: 0.875rem;
}


